body {
	background-color: #e7f0e7;
	margin: 50px auto 0 auto;
	width: 900px;
}

#dropzone {
	background-color: #fdfffd;
	border: 3px dashed #bdb;
	color: #8c8;
	font-family: Arial, sans-serif;
	font-size: 2em;
	height: 500px;
	margin: auto;
	overflow: auto;
	overflow-x: hidden;
	text-align: center;
	width: 894px;
	border-radius: 8px
}

#dropzoneLabel {
	position: relative;
	top: 40%;
}

#dropzone .file {
	background-color: #f5f5f5;
	color: #909090;
	font-size: 12px;
	height: 45px;
	line-height: 20px;
	padding: 10px;
	text-align: left;
	width: 890px;
}

#dropzone .collection {
	background-color: #AAD;
	color: #909090;
	font-size: 12px;
	height: 45px;
	line-height: 20px;
	padding: 10px;
	text-align: left;
	width: 890px;
}

#dropzone .file .progressbar {
	width: 0%;
	height: 100%;
	position:absolute;
	top:0;
	left:0;
	background-color:#8D8;
}

#dropzone .file .name {
	width: 800px;
}

#dropzone .file .progress {
	width: 100%;
}

#dropzone .file .progress input {
	width: 95%;
}

#footer {
	margin-top: 20px;
	text-align: center;
	width: 100%;
}

#footer, #footer a {
	color: #c5c5c5;
	font-family: Arial, sans-serif;
	font-size: 0.9em;
}

.button {
	position: relative;
	width: 208px;
	height: 28px;
	overflow: hidden;
}

.button::-webkit-file-upload-button {
	visibility: hidden;
}
.button:before {
	content: 'or click this friendly button';
	color: #efe;
	display: inline-block;
	background: #8c8;
	border: 1px solid #494;
	border-radius: 3px;
	padding: 5px 8px;
	outline: none;
	white-space: nowrap;
	-webkit-user-select: none;
	cursor: pointer;

	font-weight: 700;
	font-size: 10pt;
}
.button:hover:before {
	border-color: #909090;
	color: #909090;
}
.button:active:before {
	background: #909090: //-webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}
